<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PENMAN - Unleash Your Writing Potential</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/penman logo-modified.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/penman logo-modified.png') }}" alt="PENMAN Logo">
        <h1>PENMAN</h1>
    </header>

    <main class="main">
        <div class="container">
            <h2>Login</h2>
            <form method="post" action="">
                {% if error_message %}
                    <div class="error-message">
                        <i class="fas fa-exclamation-triangle"></i> {{ error_message }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login">
                </div>

                <p>Join PENMAN <a href="{{ url_for('register') }}">Register</a></p>
            </form>
        </div>
    </main>

    <footer>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2024 PENMAN. All rights reserved.</p>
    </footer>
</body>
</html>
